/*GERAL*/
*{  
    font-family: 'Nunito', sans-serif;
    color: white;
}

body {
    position: relative;
  }

/*NAVBAR*/
.nav a{
    color: white;
    font-size: 18px;
}

.nav a:hover{
    color: rgba(255, 255, 255, 0.411);
}

/*BIOGRAFIA*/
#titulo-bio{
    margin-top: 1rem;
}

/*COMENTÁRIOS*/
.balao{
    margin-top: 3rem;
    border: 2px solid white;
    padding: 10px;
}
