/*GERAL*/

*{  
    font-family: 'Nunito', sans-serif;
    color: white;
}

footer{
    padding: 10px;
}

footer h1{
    font-size: 15px;
    font-style: bold;
    text-align: center;
}

/*MENU*/
button{
    background-color: black;
}

svg{
    margin: 10px;
}

.nav h5{
    font: 20px;
}

.nav a{
    color: white;
    font-size: 18px;
}

.nav a:hover{
    color: white;
    opacity: 80%;
}

/*INDEX*/
@media  (min-width: 50px) and (max-width: 1500px) {
    #index img {
        padding: 10px;
    }
}

@media  (min-width: 490px) and (max-width: 10000px) {
    #destaques{
        padding-top: 15rem;
    }
}

#index img{
    border-radius: 5%;
    padding: 10px;
}

#index a{
    color: #000000;
}

  

/*EU*/



